#
# This is a sample docker-compose file that can be used to run the Force application.
#

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: force-app:0.28.0
    environment:
      JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,address=*:5005,server=y,suspend=n"
    ports:
      - "80:80"
      - "5005:5005"
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: octopus
      MYSQL_ROOT_PASSWORD: tester
    ports:
      - "3306:3306"
      - "33060:33060"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:

volumes:
  mysql-data:
